@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* global debug */
    /* * {
        outline: 1px solid #f00 !important;
        opacity: 1 !important;
        visibility: visible !important;
    } */

    /*
    bg      -> bg-sky-200 dark:bg-sky-800
    color   -> text-emerald-800 dark:text-emerald-300
    accent  -> bg-orange-500
    */

    h1 {
        @apply text-4xl font-bold
    }
    h2 {
        @apply text-2xl
    }
    p {
        @apply text-base
    }
}